<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Django Project{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <!-- Navbar content -->
    {% include "partials/_header.html" %}
    
    <main class="py-5">
      {% block content %}{% endblock %}
    </main>

    <!-- Footer content -->
    {% include "partials/_footer.html" %}

    {% bootstrap_javascript %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"
      integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>