{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Add Trip{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="page-title pt-6 px-5 d-none d-md-block">
      <h1>Edit Trip</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Trip</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="d-flex justify-content-end">
                {% bootstrap_button button_type="submit" content="Add Trip" class="btn btn-primary me-2" %}
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}