<footer class="bg-dark text-white py-4 mt-auto {% if "login" in request.path or "logout" in request.path %}fixed-bottom{% endif %}">
  <div class="container text-center">
    <p>&copy; 2024 Carpool. All rights reserved.</p>
    <p>
      <a href="#" class="text-white">
        <i class="fab fa-facebook fa-lg mx-2"></i>
      </a>
      <a href="#" class="text-white">
        <i class="fab fa-twitter fa-lg mx-2"></i>
      </a>
      <a href="#" class="text-white">
        <i class="fab fa-instagram fa-lg mx-2"></i>
      </a>
    </p>
  </div>
</footer>